{% extends "@App/base.html.twig" %}

{% block title %}AppBundle:AppController:index{% endblock %}

{% block body %}
    <div class="row" style="padding-top:40px;">
        <h3 class="text-center" >SOCKET CHAT EXAMPLE </h3>
        <br /><br />
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body messages" style="height: 400px; overflow: scroll">
                    <ul class="media-list" id="messages">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="submit">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var webSocket = WS.connect("ws://127.0.0.1:8080");
        webSocket.on("socket/connect", function(session){

            session.subscribe("chat/channel", function(uri, payload) {

                if(payload.msg.message !== 'undefined' && typeof payload.msg.message !== 'undefined'){
                    $.ajax({
                        type: 'POST',
                        url: "{{ url('new_message') }}",
                        data: {
                            user: payload.msg.user,
                            message: payload.msg.message
                        },
                        success: function (data) {
                            $('#messages').prepend(data);
                        }
                    });
                }
            });

            $(document).on('click', '#submit', function(){
                session.publish("chat/channel", $('#message').val());
                $('#message').val('');
            });
        });
        webSocket.on("socket/disconnect", function(error){
            console.log("Disconnected for " + error.reason + " with code " + error.code);
        });
    </script>
{% endblock %}
